<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felix.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>
        
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> 
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:process="android.process.acore1" 
        android:label="@string/app_name" >
         <activity
            android:name="com.felix.demo.activity.NetTrafficBytesMain"
            android:label="流量监控" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".activity.NetTrafficRankingMain"
            android:label="流量排行" >
        </activity>   
        
        <activity
            android:name=".notify.NotifyListActivity"
            android:label="通知栏检测" >
        </activity> 
         
       <!-- 流量排行 -->    
         <receiver android:name=".activity.NetTrafficBootAndShutdownBroadcast"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"></action>
			</intent-filter>
		</receiver>
		<receiver android:name=".activity.NetTrafficRankingPackageBroadcast">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		<receiver android:name=".activity.NetTrafficConnectivityChangeBroadcast">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>				
		<!-- 实时监控服务-->
		<service android:name=".activity.NetTrafficBytesService"></service>
		<service android:name=".activity.NetTrafficBytesFloatService" android:persistent="true"></service>
		
		<!-- 拨号助手
		<activity android:name="com.felix.demo.phonehelper.receiver.activity.MainActivity" android:label="@string/app_name"> 
			<intent-filter> 
				<action android:name="android.intent.action.MAIN" /> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter> 
		</activity> 
		<receiver android:name="com.felix.demo.phonehelper.receiver.PhoneReceiver"> 
			<intent-filter> 
				<action android:name="android.intent.action.PHONE_STATE"/> 
				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
			</intent-filter> 
		</receiver>
		<service android:name="com.nd.hilauncherdev.myphone.phonehelper.CallHelperService" android:process=":hilauncherex_phonehelper"></service>
		 -->
    </application>

</manifest>